/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #30ffff, #639cff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

/* Container Styling */
/* Header Styling */
.header {
    position: absolute;
    top:0;
    margin-bottom: 20px;
    background:  #06a8c5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}



.container {
    
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}







h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    width: 100%;
}

form input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

form input:focus {
    border-color: #6a11cb;
    background-color: #fff;
}

form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right,#30ffff, #639cff);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Links */
a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #6a11cb;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #2575fc;
}

/* Success Message Styling */
.success {
    margin-top: 15px;
    padding: 10px 20px;
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    font-size: 0.9rem;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}